@tailwind base;
@tailwind components;
@tailwind utilities;

#chat_container::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: #2e3338;
}

#chat_container::-webkit-scrollbar {
    width: 10px;
}

#chat_container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #202225;
}
